In [ ]:
mysql 
数据库分类
能够知道Mysql的使用场景
能够安装Navicat和使用
能够安装Mysql和CRUD操作使用
能够使用python交互Mysql数据库
最后完成一个案例

In [ ]:
数据库的发展历程：
1.人工管理阶段
2.文件系统阶段
3.数据库阶段
4.高级数据库阶段 (分布式数据库)

In [ ]:
数据库分成两类：
关系型数据库：采用了关系模型来组织数据的数据库；关系模型指的就是二维表格模型
Oracle Microsoft SQL MySQL SQlite

非关系型数据库： Not Only SQL 强调Key-value的方式存储数据
Mongodb redis

In [ ]:
MySQL作为关系型数据库的使用场景
1.Web网站系统
2.日志记录系统
3.数据仓库系统
4.嵌入式系统

In [ ]:
MySQL是一个关系型数据库管理系统(RDBMS)软件
Relational Database Management System
在Web应用方面，MySQL是最好的RDBMS
!!!
RDBMS可以分为两个端：
1.关系型数据库服务端软件-Server
2.关系型数据库客户端软件-Client

In [ ]:
所有的数据是存在数据库服务端的，数据库客户端和数据库服务端之间的交互语句是SQL
客户端和服务端的交互就是通过SQL实现的
SQL(Structured Query Language)是结构化查询语言，是一种用来操作RDBMS的数据库语言
也就是说通过SQL可以操作这些oracle，sql server，mysql等关系型的数据库
注意SQL语句是通用的，在SQL语句中还分为了5大类：
1.DQL 数据查询语言 select如
2.DML 数据操作语言 insert,update,delete
3.DDL 数据定义语言 create,drop
# 前三种用的比较多
4.TPL 事务处理语言 begin transaction,commit,rollback
5.DCL 数据控制语言 grant,revoke

In [ ]:
MySQL的特点
1.MySQL是开源的
2.MySQL支持大型数据库
3.MySQL使用标准的SQL数据语言形式
4.MySQL可以安装在不同的操作系统
5.可以使用不同的语言进行编写

In [ ]:
MySQL的常用数据类型
int,bit(只有0-1 bit) 整数
decimal 小数
varchar(可变字符串),char(字符串) 字符串
date,time,datetime 日期时间
enum 枚举类型

In [ ]:
MySQL常用字段约束
#所有数据库的表内都要有主键
primary key 主键约束 
not null 非空约束 #指这个是必须填的意思
unique 唯一约束 #不可重复
default 默认约束

In [ ]:
sudo service mysql start不报错即安装成功

In [ ]:
服务端的指令
sudo service mysql status查看状态
sudo service mysql stop关闭
sudo service mysql start开启
sudo service mysql restart重启

In [ ]:
Mysql配置文件的路径，将来如果要修改mysql的配置项需要修改配置文件
cd /etc/mysql/mysql.conf.d/
ls
vim mysqld.cnf 查看配置文件
配置项介绍
1.port表示端口号，默认为3306
2.bind-address表示服务器绑定的ip，默认为127.0.0.1
3.datadir表示数据库保存的路径，默认为/var/lib/mysql
4.log_error表示错误日志，默认为/var/log/mysql/error.log

In [ ]:
接下来学习Navicat
图形化界面的数据库管理工具

In [ ]:
navicat基本使用
作为客户端的软件，需要连接服务端
作为客户端软件，服务端必须开启

In [ ]:
Navicat CRUD(增删改查)

In [ ]:
MySQL登入客户端操作
在这之前需要先确认服务器是否开启了
连接mysql服务端指令：mysql -uroot -p
进入之后可以通过select now; 查看时间
exit/quit/ctrl + D 退出

In [ ]:
MySQL数据库操作
-- 这是注释的意思
1.查看所有的数据库
show databases;
2.创建数据库
create database 数据库名 charset=utf8;
3.使用数据库
use 数据库名;
4.查看当前使用的数据库(用来double check现在是不是在使用想要的数据库)
select database();
5.删除数据库
drop database 数据库名;

In [ ]:
MySQL表制作
1.查看所有当前库中的表
show tables;
2.创建表
create table 表名(字段名称 数据类型 可选的约束条件);
如id我需要字段名称 数据类型 可选约束 无符号 主键 不为空 自增
create table info(
id int unsigned primary key not null auto_increment,
name char(10) not null,
age int
);
3.修改表字段类型
alter table 表名 modify 列名 类型 约束;
alter table info modify name varchar(200) not null;
4.删除表
drop table 表名;
5.查看表结构
desc 表名;

In [ ]:
Mysql-CRUD操作
1.查询数据
    1.查询所有列
    select*from 表名;
    Example：select*from students;
    2.查询指定列
    select 列1，列2，... from 表名;
    select id,name from students;
2.增加数据
    1.全列插入：值的顺序必须和字段顺序完全一致
        insert into 表名 values(...)；
    2.部分列插入：值的顺序和给出的列顺序对应
        insert into 表名(列1...) values(值1...)；
        对于可以有缺省的我可以不输入，只输入我想要的部分就行
        比如
        insert into Name values('Rachel');
        
    3.全列多行插入
        insert into 表名 values(...),(...),(...)；
        !注意，对于能自增的数可以使用一个0来占位置
        例子：
        insert into info values(0,'Viveck',40,'male'),(0,'ChengHan',22,'male');
    4.部分列多行插入
        insert into 表名(列1...) values(值1...)，（值1...），（值1...）；